In [7]:
import pandas as pd

# Example DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)

# Create a new DataFrame with only the first row using .iloc[0:1]
first_row_df = df.iloc[0:1]
first_row_df

   A  B  C
0  1  4  7

In [6]:
# Create a new DataFrame with only the first row using .head(1)
first_row_df = df.head(1)

print("New DataFrame with First Row:")
first_row_df

New DataFrame with First Row:

   A  B  C
0  1  4  7